<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理员页面</title>
    <link rel="icon" th:href="@{/static/images/ico/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/toastr.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/ionicons.min.css}">
</head>
<body class="sidebar-mini layout-fixed" style="height: auto;">
<div class="wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>角色列表</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">博客后台</li>
                        <li class="breadcrumb-item">人员管理</li>
                        <li class="breadcrumb-item active">角色列表</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-info btn-sm" onclick="addRoleDialog()">
                                <i class="fas fa-plus-square"></i> 新增角色
                            </button>
                            <button class="btn btn-info btn-sm" onclick="updateRoleDialog()">
                                <i class="fas fa-pencil-alt"></i> 修改角色
                            </button>
                            <button class="btn btn-default btn-sm float-right" onclick="refreshPage()">
                                <i class="fas fa-refresh"></i> 刷新
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="row table-responsive">
                                <div class="col-sm-12">
                                    <table class="table table-bordered" role="grid">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting" rowspan="1" colspan="1">用户私有ID</th>
                                            <th class="sorting" rowspan="1" colspan="1">用户名</th>
                                            <th class="sorting" rowspan="1" colspan="1">角色</th>
                                            <th class="sorting" rowspan="1" colspan="1">状态</th>
                                            <th class="sorting" rowspan="1" colspan="1">角色生成时间</th>
                                            <th class="sorting" rowspan="1" colspan="1">角色更新时间</th>
                                            <th class="sorting" rowspan="1" colspan="1"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="odd" th:each="userRole:${userRoleList}">
                                            <td class="dtr-control sorting_1"
                                                th:text="${userRole.getUserPrivateId()}"></td>
                                            <td th:text="${userRole.getUsername()}"></td>
                                            <td><span class="badge badge-info"
                                                      th:text="${userRole.getUserRole()}"></span></td>
                                            <td th:if="${userRole.getUserRoleStatus()!=1}">
                                                <span class="badge badge-danger">注销</span></td>
                                            <td th:if="${userRole.getUserRoleStatus()==1}">
                                                <span class="badge badge-info">正常</span></td>
                                            <td th:text="${userRole.getUserRoleCreateTime()}"></td>
                                            <td th:text="${userRole.getUserRoleUpdateTime()}"></td>
                                            <td class="text-center">
                                                <a class="btn btn-info btn-sm" href="javascript:void(0);"
                                                   onclick="showUserRoleInfo(this)"
                                                   th:id="${userRole.getUserPrivateId()}">
                                                    <i class="fas fa-pencil-alt"></i> 编辑
                                                </a>
                                                <a class="btn btn-danger btn-sm" href="javascript:void(0);">
                                                    <i class="fas fa-trash"></i> 删除
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <div class="dataTables_info"
                                         th:text="'当前显示第'+${currentPage}+'页 共'+${totalPage}+'页'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_paginate paging_simple_numbers" id="paginate">
                                        <ul class="pagination">
                                            <li th:if="${currentPage - 1} <= 1"
                                                class="paginate_button page-item previous">
                                                <a href="/admin/userRolesData/1#paginate" class="page-link">上一页</a>
                                            </li>
                                            <li th:if="${currentPage - 1} > 1"
                                                class="paginate_button page-item previous">
                                                <a th:href="'/admin/userRolesData/'+${currentPage - 1}+'#paginate'"
                                                   class="page-link">上一页</a>
                                            </li>
                                            <li th:if="${currentPage - 1} >= 1" class="paginate_button page-item">
                                                <a th:href="'/admin/userRolesData/'+${currentPage - 1}+'#paginate'"
                                                   th:text="${currentPage - 1}" class="page-link"></a>
                                            </li>
                                            <li class="paginate_button page-item">
                                                <a th:href="'/admin/userRolesData/'+${currentPage}+'#paginate'"
                                                   th:text="${currentPage}" class="page-link"></a>
                                            </li>
                                            <li th:if="${currentPage + 1} <= ${totalPage}"
                                                class="paginate_button page-item">
                                                <a th:href="'/admin/userRolesData/'+${currentPage + 1}+'#paginate'"
                                                   th:text="${currentPage + 1}" class="page-link"></a>
                                            </li>
                                            <li th:if="${currentPage + 1} > ${totalPage}"
                                                class="paginate_button page-item next">
                                                <a th:href="'/admin/userRolesData/'+${totalPage}+'#paginate'"
                                                   class="page-link">下一页</a>
                                            </li>
                                            <li th:if="${currentPage + 1} <= ${totalPage}"
                                                class="paginate_button page-item next">
                                                <a th:href="'/admin/userRolesData/'+${currentPage + 1}+'#paginate'"
                                                   class="page-link">下一页</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-2">
                                    <div class="input-group input-group-sm">
                                        <input type="number" id="admin-role-page-number" class="form-control"
                                               th:max="${totalPage}" min="1">
                                        <span class="input-group-append">
                                            <button class="btn btn-primary btn-flat" onclick="jumpToPage(this)"
                                                    id="admin-role-jump">跳转</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="admin-user-roles-edit" style="display: none;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">编辑用户角色信息</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="admin-user-roles-info-dialog">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="admin-role-add" style="display: none;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新增角色表信息</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="admin-role-add-role-name">角色名称</label>
                    <input type="text" class="form-control" id="admin-role-add-role-name" placeholder="请输入角色名称"
                           autocomplete="new-role-role-name">
                </div>
                <div class="form-group">
                    <label for="admin-role-add-description">角色描述</label>
                    <input type="text" class="form-control" id="admin-role-add-description" placeholder="请输入角色描述"
                           autocomplete="new-role-description">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="insertRole()">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="admin-role-edit" style="display: none;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">修改角色表信息</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="admin-role-edit-role-name-before">待修改角色</label>
                    <select type="text" class="form-control" id="admin-role-edit-role-name-before">
                        <option th:each="role:${roleList}"><p th:text="${role.getRoleName()}"></p></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="admin-role-edit-role-name">修改后角色</label>
                    <input type="text" class="form-control" id="admin-role-edit-role-name" placeholder="请输入角色描述"
                           autocomplete="new-role-description">
                </div>
                <div class="form-group">
                    <label for="admin-role-edit-description">角色描述（不修改可不填写）</label>
                    <input type="text" class="form-control" id="admin-role-edit-description" placeholder="请输入角色描述"
                           autocomplete="new-role-description">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="updateRole()">保存</button>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/admin.js}"></script>
<script type="text/javascript" th:src="@{/static/js/main.js}"></script>
<script type="text/javascript" th:src="@{/static/js/toastr.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/adminlte.min.js}"></script>
</html>