<footer class="footer-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-text text-center wow fadeInDown animated" data-wow-delay="0.3s"
                     style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                    <ul class="social-icon">
                        <li>
                            <a class="github" href="https://github.com/chairc" target="_blank" title="@chairc">
                                <img src="/images/picture/index-new/GitHub.svg" width="100%" height="100%"
                                     style="vertical-align: super">
                            </a>
                        </li>
                        <li>
                            <a class="weibo" href="https://weibo.com/u/1802917091" target="_blank" title="@小陈今年一定要发财">
                                <img src="/images/picture/index-new/zu.svg" width="100%" height="100%"
                                     style="vertical-align: super">
                            </a>
                        </li>
                        <li>
                            <a class="wangyimusic" href="https://music.163.com/#/user/home?id=320416909"
                               target="_blank" title="@Chair_C">
                                <img src="/images/picture/index-new/wangyiyunyinyue.svg" width="100%" height="100%"
                                     style="vertical-align: super">
                            </a>
                        </li>
                        <li>
                            <a class="instagram" href="https://www.instagram.com/" target="_blank" title="@c_pangci">
                                <img src="/images/picture/index-new/instagram.svg" width="100%" height="100%"
                                     style="vertical-align: super">
                            </a>
                        </li>
                        <li>
                            <a class="google" href="https://www.google.com/" target="_blank" title="email:chenyu1998424@gmail.com">
                                <img src="/images/picture/index-new/Google.svg" width="100%" height="100%"
                                     style="vertical-align: super">
                            </a>
                        </li>
                    </ul>
                    <p>
                        <a href="http://www.beian.miit.gov.cn/" target="_blank">
                            <span style="color: #fff; ">鲁ICP备19032053号</span>
                        </a>
                        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37010302000778"
                           target="_blank">
                            <img src="/images/beian.png">
                            <span style="color: #fff; ">鲁公网安备 37010302000778号</span>
                        </a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>