<header class="header-container">
    <div style="font-size: 18px;font-weight:700;position: -webkit-sticky;position: sticky;top: 0;">
        <a href="/"><div class="header-logo"></div></a>
        <ul style="margin-top: 25px;">
            <li class="header-li-style" title="主页">
                <a href="/" class="header-a-link">
                    <i class="fa fa-home fa-1g"></i><p class="header-hide">&nbsp;&nbsp;主页</p>
                </a>
            </li>
            <li class="header-li-style" title="归档">
                <a href="/article/1" class="header-a-link">
                    <i class="fa fa-list-ul fa-1g"></i><p class="header-hide">&nbsp;&nbsp;归档</p>
                </a>
            </li>
            <li class="header-li-style" title="动态">
                <a href="/post/1" class="header-a-link">
                    <i class="fa fa-fort-awesome fa-1g"></i><p class="header-hide">&nbsp;&nbsp;动态</p>
                </a>
            </li>
            <li class="header-li-style" title="留言板">
                <a href="/message/1" class="header-a-link">
                    <i class="fa fa-pencil-square-o fa-1g"></i><p class="header-hide">&nbsp;&nbsp;留言板</p>
                </a>
            </li>
            <li class="header-li-style" title="友人帐">
                <a href="/message/1" class="header-a-link">
                    <i class="fa fa-link fa-1g"></i><p class="header-hide">&nbsp;&nbsp;友人帐</p>
                </a>
            </li>
            <li class="header-li-style" title="关于我">
                <a href="/aboutMe" class="header-a-link">
                    <i class="fa fa-comment-o fa-1g"></i><p class="header-hide">&nbsp;&nbsp;关于我</p>
                </a>
            </li>
            <li class="header-li-style" title="个人">
                <a href="/home" class="header-a-link">
                    <i class="fa fa-user fa-1g"></i><p class="header-hide">&nbsp;&nbsp;个人</p>
                </a>
            </li>
        </ul>
    </div>
</header>