<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="/" class="nav-link">
                <i class="nav-icon fas fa-home"></i>
                <p>主页</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/article?page=1&type=all&searchType=all" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>归档</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/message?page=1" class="nav-link">
                <i class="nav-icon fas fa-comment-alt"></i>
                <p>留言板</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/friend" class="nav-link">
                <i class="nav-icon fas fa-link"></i>
                <p>友人帐</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/data" class="nav-link">
                <i class="nav-icon fas fa-chart-bar"></i>
                <p>数据统计</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/home" class="nav-link">
                <i class="nav-icon fas fa-user-cog"></i>
                <p>个人</p>
            </a>
        </li>
    </ul>
</nav>