<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item menu-open">
            <a href="/admin/dashboard" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>仪表面板</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/data" class="nav-link">
                <i class="nav-icon fas fa-chart-bar"></i>
                <p>数据统计</p>
            </a>
        </li>
        <li class="nav-header">管理面板</li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>人员管理<i class="fas fa-angle-left right"></i></p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/admin/userData/1" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>人员列表</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/userPermissionsData/1" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>权限列表</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/userRolesData/1" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>角色列表</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>归档管理<i class="fas fa-angle-left right"></i></p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/admin/articleData?page=1&type=all&searchType=all" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>归档列表</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/articleAdd" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>新建归档</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-comment-alt text-info"></i>
                <p>留言管理（暂无）<i class="fas fa-angle-left right"></i></p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="far fa-circle nav-icon text-info"></i>
                        <p>留言列表</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-list-alt"></i>
                <p>日志管理<i class="fas fa-angle-left right"></i></p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/admin/logVisitorData/1" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>访问日志列表</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-header">功能面板</li>
        <li class="nav-item">
            <a href="/admin/emailEdit" class="nav-link">
                <i class="nav-icon fas fa-envelope text-warning"></i>
                <p>邮件功能（未完成）</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="nav-icon fas fa-file text-info"></i>
                <p>文件功能（暂无）</p>
            </a>
        </li>
        <li class="nav-header">账户信息</li>
        <li class="nav-item">
            <a href="/admin/adminSetting" class="nav-link">
                <i class="nav-icon fas fa-user-cog"></i>
                <p>个人设置</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0);" onclick="userLogout()" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>登出</p>
            </a>
        </li>
    </ul>
</nav>