<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.blog.mapper.ArticleDao">
    <!--关于ResultMap 如果实体类与数据库的行相同则不用写，反之则需要写ResultMap-->
    <sql id="table">cc_blog_article</sql>

    <select id="getArticleAllToIndex" resultType="com.cc.blog.model.Article">
        SELECT
        article_id,article_private_id,article_title,article_author,article_main,article_time,article_click_num
        FROM
        <include refid="table"/>
        ORDER BY
        article_id
        DESC
        LIMIT 0,8
    </select>

    <select id="getArticleAll" resultType="com.cc.blog.model.Article">
        SELECT
        article_id,article_private_id,article_title,article_author,article_main,article_time,article_click_num
        FROM
        <include refid="table"/>
        ORDER BY
        article_id
        DESC
    </select>

    <select id="getArticleAllByAscendingOrder" resultType="com.cc.blog.model.Article">
        SELECT
        article_id,article_private_id,article_title,article_author,article_main,article_time,article_click_num
        FROM
        <include refid="table"/>
        ORDER BY
        article_id
    </select>

    <select id="getArticleByPrivateId" resultType="com.cc.blog.model.Article">
        SELECT
        article_id,article_private_id,article_title,article_author,article_main,article_time,article_click_num
        FROM
        <include refid="table"/>
        WHERE
        article_private_id = #{articlePrivateId}
    </select>

    <select id="getArticleAllByAdmin" resultType="com.cc.blog.model.Article">
        SELECT
        *
        FROM
        <include refid="table"/>
        ORDER BY
        article_id
    </select>

    <insert id="insertArticle" parameterType="com.cc.blog.model.Article">
        INSERT INTO
        <include refid="table"/>
        (article_id,article_private_id,article_title,article_author,article_main,article_time,article_click_num,
        article_browser,article_system,article_ip)
        VALUES
        (#{article_id},#{article_private_id},#{article_title},#{article_author},#{article_main},
        #{article_time},#{article_click_num},#{article_browser},#{article_system},#{article_ip})
    </insert>

    <delete id="deleteArticleByPrivateId" parameterType="com.cc.blog.model.Article">
        DELETE FROM
        <include refid="table"/>
        WHERE
        article_private_id = #{article_private_id}
    </delete>

    <update id="updateArticle" parameterType="com.cc.blog.model.Article">
        UPDATE
        <include refid="table"/>
        SET
        article_id = #{article_id},article_private_id = #{article_private_id},article_title = #{article_title},
        article_author = #{article_author},article_main = #{article_main},article_time = #{article_time},
        article_click_num = #{article_click_num},article_browser = #{article_browser},article_system = #{article_system},
        article_ip = #{article_ip}
    </update>

    <select id="getArticleCount" resultType="java.lang.Integer" parameterType="com.cc.blog.model.User">
        SELECT
        COUNT(*)
        FROM
        <include refid="table"/>
    </select>

</mapper>