<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.blog.mapper.MessageDao">
    <!--关于ResultMap 如果实体类与数据库的行相同则不用写，反之则需要写ResultMap-->
    <sql id="table">cc_blog_message</sql>

    <select id="getMessageAllToIndex" resultType="com.cc.blog.model.Message">
        SELECT
        *
        FROM
        <include refid="table"/>
        ORDER BY
        message_id
        DESC
        LIMIT 0,3
    </select>

    <select id="getMessageAllToIndexByWeight" resultType="com.cc.blog.model.Message">
        SELECT
        *
        FROM
        <include refid="table"/>
        WHERE
        message_weight = 1
        ORDER BY
        message_id
        DESC
        LIMIT 0,3
    </select>

    <select id="getMessageAll" resultType="com.cc.blog.model.Message">
        SELECT
        *
        FROM
        <include refid="table"/>
        ORDER BY
        message_id
        DESC
    </select>

    <select id="getMessageAllByAscendingOrder" resultType="com.cc.blog.model.Message">
        SELECT
        *
        FROM
        <include refid="table"/>
        ORDER BY
        message_id
    </select>

    <select id="getMessageAllByWeight" resultType="com.cc.blog.model.Message">
        SELECT
        *
        FROM
        <include refid="table"/>
        WHERE
        message_weight = 1
        ORDER BY
        message_id
        DESC
    </select>

    <insert id="insertMessage" parameterType="com.cc.blog.model.Message">
        INSERT INTO
        <include refid="table"/>
        (message_id,message_private_id,message_username,message_main,message_time,message_ip,message_weight)
        VALUE
        (#{message_id},#{message_private_id},#{message_username},#{message_main},#{message_time},#{message_ip},
        #{message_weight})
    </insert>

    <delete id="deleteMessageByPrivateId" parameterType="com.cc.blog.model.Message">
        DELETE FROM
        <include refid="table"/>
        WHERE
        message_private_id = #{message_private_id}
    </delete>

    <update id="updateMessage" parameterType="com.cc.blog.model.Message">
        UPDATE
        <include refid="table"/>
        SET
        message_id = #{message_id},message_private_id = #{message_private_id},message_username = #{message_username},
        message_main = #{message_main},message_time = #{message_time},message_ip = #{message_ip},
        message_weight = #{message_weight}
    </update>

    <select id="getMessageCount" resultType="java.lang.Integer" parameterType="com.cc.blog.model.User">
        SELECT
        COUNT(*)
        FROM
        <include refid="table"/>
    </select>

</mapper>